body{
    height:100vh;
    margin:0;
    width:100vw;
    box-sizing:border-box;
    font-family:Tahoma,sans-serif;
    display:flex;
    flex-direction:column;
}

/* Top section */
.top, .footer{
    background-color:#1F2937;
}
.top{
    padding:10px 130px 60px;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:80px;
}
.nav{
    margin:0;
    padding:0;
    display:flex;
    gap:20px;
}
.nav-item{
    margin:0;
    padding:0;
    list-style:none;
}
.nav-link{
    color:#E5E7EB;
    text-decoration:none;
}

.hero-main{
    margin:0;
    padding:0;
    font-size:48px;
    font-weight:800;
    color:#F9FFF8;
}
.hero-secondary{
    font-size:18px;
    color:#E5E7EB;
}
.logo{
    font-size: 24px;
    font-weight:800;
    color:#F9FFF8;
}

/* Hook section */
.hook{
    display:flex;
    align-items:flex-start;
    gap:30px;
}

.img-wrapper{
    min-width:200px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex:1;
}
.hook img{
    min-width:200px;
    flex-shrink:1;
}
.summary{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    flex:1;
}

/* Information section */
.info{
    padding: 20px 150px;
    font-size:36px;
    font-weight:800;
    color:#1F2937;
    text-align:center;
}
.card-deck{
    margin:30px;
    display:flex;
    gap:30px;
}
.card{
    font-size:18px;
    color:#1F2937;
}

.card img{
    max-width:150px;
    border: 3px solid #3882F6;
    border-radius:10px;
}

/* Quote Section */
.quote{
    padding: 80px 200px;
    background-color: #e5e7eb;
}

.quote-text, .quote-author{
    padding:0;
    margin:0;
    color:#1F2937;
}
.quote-text{
    font-size:36px;
    font-weight:100;
    font-style:italic;
    text-align:left;
}
.quote-author{
    font-size:24px;
    font-weight:800;
    text-align:right;
}


/* Contact Section */
.contact{
    padding: 60px 130px;
}
.contact-body{
    padding:40px 60px;
    background-color:#3882F6;
    border-radius:5px;
    display:flex;
    justify-content:space-between;
}

.contact-phrase, .contact-instructions{
    padding:0;
    margin:0;
    color:#E5E7EB;
}

.contact-phrase{
    font-size:24px;
    font-weight:bold;
    
}
.contact-instructions{
    font-size:18px;
}
/* Footer Section */
.footer{
    padding:30px 0;
    text-align:center;
    font-size:18px;
    color:white;
}
/* general components */
button{
    padding:10px 30px;
    font-size:18px;
    border-style:none;
    border-radius:10px;
}
.btn-primary{
    background-color:#3882F6;
    color:#E5E7EB;
}

.border-white{
    border: 3px solid #e5e7eb;
}